body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: royalblue;
}
.container{
  width:80%;
  margin: 0 auto;
  overflow: hidden;
}
.logo{
  float: left;
  color: #fff;
  display: block;
  width:30%;
  margin: 10px 0;
}
ul{
  float: right;
  text-align :right;
}
ul a{
  margin:10px;
  color:#fff;
}


.content{
background-color: rgb(189, 133, 133);
border: 1px solid #ddd;
padding: 15px;
margin: 15px;
}